@tailwind base;
@tailwind components;
@tailwind utilities;

// variable global
$PC-large-width: 1280px;
$PC-normal-width: 1024px;
$TABLET-normal-width: 768px;
$TABLET-small-width: 640px;
$MOBILE-width: 0px;

@layer components {
  .transition-cus {
    transition-property: theme("transitionProperty.all");
    transition-timing-function: theme("transitionTimingFunction.linear");
    transition-duration: theme("transitionDelay.100");
  }
}

@mixin largePC {
  @media screen and (min-width: $PC-large-width) {
    @content;
  }
}

@mixin normalPC {
  @media screen and (min-width: $PC-normal-width) {
    @content;
  }
}

@mixin normalTABLET {
  @media screen and (min-width: $TABLET-normal-width) {
    @content;
  }
}

@mixin smallTABLET {
  @media screen and (min-width: $TABLET-small-width) {
    @content;
  }
}

@mixin mobile {
  @media screen and (min-width: $MOBILE-width) {
    @content;
  }
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: overlay;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 2px;
  overflow: overlay;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: overlay;
}

.scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 6px;
  overflow: overlay;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: overlay;
}

.scrollHidden::-webkit-scrollbar {
  background-color: transparent;
  width: 1px;
  height: 1px;
  overflow: overlay;
}

.container__cus {
  max-width: 1280px;
}

// custome text
.text-title {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 500;
}

/* skelaton loading */
.skelaton {
  position: relative;
  background-color: #f5f5f5;
  overflow: hidden;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    animation: 2s loading linear 0.5s infinite;
    background: linear-gradient(90deg, transparent, #ededed, transparent);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: translateX(-100%);
    z-index: 1;
  }
}

.spinner {
  animation: spinner linear 0.6s infinite;
}

.show__popup {
  animation: showPopup linear 0.2s forwards;
}

.hide__popup {
  animation: hidePopup linear 0.2s forwards;
}

.error-animate {
  animation: error linear 0.8s forwards;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes error {
  from {
    border-color: red;
  }
  to {
    border-color: #e3e3e3;
  }
}

@keyframes showPopup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hidePopup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
