@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: overlay;
}

body::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 2px;
  overflow: overlay;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: overlay;
}

.scroll::-webkit-scrollbar {
  background-color: transparent;
  width: 4px;
  height: 6px;
  overflow: overlay;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: overlay;
}

.scrollHidden::-webkit-scrollbar {
  background-color: transparent;
  width: 1px;
  height: 1px;
  overflow: overlay;
}

.container__cus {
  max-width: 1280px;
}
